:root{
  --maincolor: #DFB78C;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s linear; 
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #DFB78C ;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #DFB78C;


}
.header{
  padding: 1rem 5%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
  

}
.header #logo img{
  width: 70px;
}
i{
  color: black;
}

.header .navbar a{
  font-size: 2rem;
  margin-left: 1.5rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

audio{
  display: none;
}

.header .navbar a:hover{
 color: red ;
}


.header .icons{
    font-size: 2rem;
}
i{
  color: black;
}

i:hover{
  color: red;
}

.header .icons div{
    margin-left: 1rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: red;
}
.header .icons #menu-bars{
    display: none;
}
.header .search-box{
  position: absolute;
  top: 110%;
  right: 100%;
  width: 50%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .search-box input{
  padding: 1.5rem;
  border-radius: 15px;
  width: 100%;
  border: none;
}
.header .search-box.active{
  right: 2rem;
}
.header .navbar.active{
  left: 0;
}


.header .navbar .active{
  color: red;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
  border-radius: 15px;
  top: 110%;
  width: 200px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  font-size: 1.7rem;
}
.dropdown-content a:hover {
  background-color: white;
  color: white;
}



.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0 ;
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


.main-background{
  background: url(image/laguna.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.main-hotel{
  padding: 2rem 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.text{
  color: black;
  padding-top: 10px;
  font-size: 40px;
  text-align: center; 
  font-weight: bold;
  padding-bottom: 50px;
}

.gallery{
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.gallery div img{
  width: 250px;
  transition: transform 0.5s;
  height: 205px;
  padding: 5px;

}
.gallery::-webkit-scrollbar{
  display: none;
}
.gallery-wrap{
  background: url(image/pexels-daniel-jurin-1835718.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backbtn, #nextbtn{
  width: 200px;
  cursor: pointer;
  margin: 40px;
}
.gallery div img:hover{
  cursor: pointer;
  transform: scale(1.1); 
}


.award-winning-hotel h1{
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 2rem ;
}
.award-winning-hotel h1 span{
  color: var(--maincolor);
}
.inner-award {
  flex: 2 2 200px;
}

.inner-award h2,p{
  text-align: center;
}
.inner-award h2{
  font-size: 30px;
  padding: 1rem;
}
.inner-award p{
  font-size: 1.7rem;
  padding: 2rem;
}
.inner-award img{
  width: 100%;
  height: 200px;
}
.inner-award img:hover{
  cursor: pointer;
  transform: scale(1.05); 
}
.our-rooms{
    padding: 2rem 7%;

}
.our-rooms h1{
    color: black;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2rem;
}
.our-rooms h1 span{
    color: var(--maincolor);
}
.inner-rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-rooms .room-box{
    flex: 1 1 300px;
}
.inner-rooms .room-box img{
    width: 375px;
    padding: 1rem;
    height: 300px;
}
.inner-rooms .room-box img:hover{
  cursor: pointer;
  transform: scale(1.1); 
}
.inner-rooms .room-box .beds{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.inner-rooms .room-box .beds span{
    font-size: 1.7rem;
}
.inner-rooms .room-box .beds i{
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
.inner-rooms .room-box .beds i:hover{
  color: skyblue;
  cursor: pointer;
}
.book-room-btn{
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border: 1px solid black;
    text-align: center;
    background-color: white;
}

.book-room-btn:hover{
    color: black;
    background: skyblue;
    cursor: pointer;
}
.book-room-btn a{
    color: black;
    font-size: 1.7rem;
}
.book-room-btn a:hover{
    color: black;
}
.second-background{
  background: url(image/background\ 2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-background{
  text-align: center;
  
}
.second-background h1{
  font-size: 60px;
  color: black;
}
.second-background h2{
  color: var(--maincolor);
  font-size: 35px;
}

footer{
  background-color: #111;
  margin-top: 50px;
}

.footContainer{
  width: 100%;
  padding: 50px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 1.0;
}

/*Hover Effect on Social Media Icon */

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav{
  margin: 30px 0;
  font-weight: bold;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: nondisc;
}

.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;

}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}






@media (max-width:768px) {
  html{
      font-size: 50%;
  }

  .header .icons #menu-bars{
      display: inline-block;
  }
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 100%;
    right: 0;
    background: var(--maincolor);

}
.header .navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 10px;
} 
.footerNav ul{
  flex-shrink: column;
}
.footerNav ul li{
  width: 100%;
  text-align: center;
  margin: 10px
}
}