body{
  background-color: #DFB78C;
}
header{
  padding: 1rem 5%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
}
.header #logo img{
  width: 70px;
}
i{
  color: black;
}

.header .navbar a{
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}


.header .navbar a:hover{
 color: red ;
}


.header .icons{
    font-size: 2rem;
   
}
i{
  color: black;
}

i:hover{
  color: red;
}

.header .icons div{
    margin-left: 1rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: red;
}
.header .icons #menu-bars{
    display: none;
}
.header .search-box{
  position: absolute;
  top: 110%;
  right: 100%;
  width: 50%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .search-box input{
  padding: 1.5rem;
  border-radius: 15px;
  width: 100%;
  border: none;
}
.header .search-box.active{
  right: 2rem;
}
.header .navbar.active{
  left: 0;
}


.header .navbar .active{
  color: red;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
  border-radius: 15px;
  top: 110%;
  width: 200px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  font-size: 1.7rem;
}
.dropdown-content a:hover {
  background-color: white;
  color: white;
}

p{
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

main {
  margin-top: 150px;
  margin-left: 40px;
}
#room-list {
  background-color: #eee;
  display: grid;
  align-content: center;
  margin-right: 50px;
}

.room {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.room img {
  width: 50%;
  height: 300px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.room h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.room p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

/* Styles for the reservation form */
form {
  height :700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 150px auto;
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  margin-right: 30px;
  
}

form label {
  flex-basis: 100%;
  margin-bottom: 10px;
}

form input,
form select {
  width: calc(50% - 5px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
    border-style: solid;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
form img{
width: 30px;
height: 30px;
} 
.date{
box-align: right;
background-color: aquamarine;
}
.title{
font-size: 20px;
color: black;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
  background-color: #111;
  margin-top: 50px;
}


.footContainer{
  width: 100%;
  padding: 50px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 1.0;
}


/*Hover Effect on Social Media Icon */


.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}


.footerNav{
  margin: 30px 0;
  font-weight: bold;
}


.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: nondisc;
}


.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;


}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width:768px) {
  html{
      font-size: 50%;
  }


  .header .icons #menu-bars{
      display: inline-block;
  }
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 100%;
    right: 0;
    background: var(--maincolor);


}
.header .navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 10px;
}
.footerNav ul{
  flex-shrink: column;
}
.footerNav ul li{
  width: 100%;
  text-align: center;
  margin: 10px
}
}
