*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s linear;
  text-transform: capitalize;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.header{
  padding: 1rem 5%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
}
.header #logo img{
  width: 70px;
}


.header .navbar a{
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}


.header .navbar a:hover{
 color: red ;
}

i{
  color: black;
}
.header .icons{
    font-size: 2rem;
   
}


.header .icons div{
    margin-left: 1rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: red;
}
.header .icons #menu-bars{
    display: none;
}
.header .search-box{
  position: absolute;
  top: 110%;
  right: 100%;
  width: 50%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .search-box input{
  padding: 1.5rem;
  border-radius: 15px;
  width: 100%;
  border: none;
}
.header .search-box.active{
  right: 2rem;
}
.header .navbar.active{
  left: 0;
}


.header .navbar .active{
  color: red;
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .1);
  border-radius: 15px;
  top: 110%;
  width: 200px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  font-size: 1.7rem;
}
.dropdown-content a:hover {
  background-color: #DFB78C;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  padding-bottom: 70px;
  background-color: #DFB78C;
}

.container form{
  padding: 20px;
  width: 700px;
  background: #eee;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
  margin-top: 100px;
}
.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col{
  flex: 1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin: 15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 5px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border: 1px solid #000
}

.container form .row .col .flex{
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .py .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .py{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .py .title{
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .py .inputBox{
  margin: 15px 0;
}

.container form .py .inputBox span{
  margin-bottom: 5px;
  display: block;
}

.container form .py .inputBox input{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .py .inputBox input:focus{
  border: 1px solid #000
}
.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: lightseagreen;
  color: #fff;
  margin-top: 5px;
  cursor: pointer
}

footer{
  background-color: #111;
}

.footContainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 1.0;
}

/*Hover Effect on Social Media Icon */

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerNav{
  margin: 30px 0;
  font-weight: bold;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: nondisc;
}

.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;

}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
